* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Italianno&family=Loved+by+the+King&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&family=Passion+One:wght@400;700;900&family=Sriracha&family=Tangerine:wght@400;700&display=swap');


:root {
    /* Cores */
    --color-primary: #2F5D3A;
    --color-primary-dark: #1F4028;
    --color-primary-light: #6F9B72;

    --color-accent: #D9A441;

    --color-background: #F5F2E8;
    --color-surface: #FFFFFF;
    --color-surface-green: #E8EFE5;

    --color-text: #243027;
    --color-text-muted: #667267;
    --color-border: #D6DED2;

    /* Tipografia */
    --font-heading: "Italianno", cursive;
    --font-body: "Italianno", cursive;
    --font-ui: "Italianno", cursive;
}

header {
    background-color: var(--color-surface-green);
    padding: 1rem;
    text-align: center;
}

header img {
    display: block;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: auto;
    margin: 0 auto;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: color-mix(
        in srgb,
        var(--color-primary-light) 20%,
        transparent 60%
    );
    padding: 1rem;
}

.nav-links {
    display: flex;
    gap: 8rem;
    font-size: 1rem;
    text-decoration: #243027;
}

nav a {
    text-decoration: none;
    color: var(--color-text);
    font-weight: 700;
    font-family: var(--font-ui);
    font-size: 1.25rem;
    gap: 1rem;
}

nav a:hover {
    color: var(--color-primary);
}

nav a.active {
    color: var(--color-primary);
    font-weight: 700;
}

nav a.active::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--color-accent);
    margin-top: 4px;
}


h1 {
    font-family: Italianno, cursive;
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-weight: 400;
    padding: 1rem 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}


body {
    font-family: var(--font-body);
    color: var(--color-text);
    background-color: var(--color-background);
}

section p {
    padding: 2rem;
    text-align: justify;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 1.25rem;
    background-color: var(--color-surface-green);
}