*{
margin: 0; 
padding: 0;
box-sizing: border-box;
    }    
    header{
        display:block;
        text-align: center;
        margin: auto;
        padding: 10px;
        background-color: #020202;
    }

    header h1{
        font-family: 'Passion One', serif;
        font-size: 70px;
        gap: 10px;
        color: #ffffff;
    }

    header h2 a{
        font-family: 'Noto Serif Display', serif;
        font-size: 24px;
        color: #ffffff;
        text-decoration: none;
    }

    main{
        display: flex;
        flex-direction: column;
        align-items: right;
        justify-content: right;
        margin: auto;
        padding: 10px;
    }

    main section{
        font-family: 'Cormorant Garamond', serif;
        font-size: 20px;
        font-style: italic;
        font-weight: bolder;
        color: #000000;
        text-align: left;
        margin: 10px;
        padding: 10px;
    }

    .poesia{
        padding: 10px;
        max-width: 350px;
        font-family: 'Cormorant Garamond', serif;
        font-size: 24px;
        font-style: italic;
        font-weight: bold;
        line-height: 2;
    }

    .flor{
        background-image: url("imagens/background001.jpg");
         background-position: center center;
        background-size: cover;
        background-attachment: fixed;
        margin: 0;
        padding: 10px;
        width: 100%;
    }

    .flor p{
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        padding: 0px;
        max-width: 350px;
        font-family: 'Cormorant Garamond', serif;
        font-size: 24px;
        font-style: italic;
        font-weight: bold;
        line-height: 2;
    }

    .livro{
        background-image: url("imagens/background002.jpg");
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
        margin: 0;
        padding: 10px;
        width: 100%;
    }

    .livro p{
        background-color: rgba(0, 0, 0, 0.7);
        color: rgb(248, 245, 245);
        padding: 0px;
        max-width: 350px;
        font-family: 'Cormorant Garamond', serif;
        font-size: 24px;
        font-style: italic;
        font-weight: bold;
        line-height: 2;
    }

    footer{
        display: block;
        text-align: center;
        margin: auto;
        padding: 10px;
        background-color: #020202;
        color: #ffffff;
    }

    .footer p{
        font-family: 'Noto Serif Display', serif;
        font-size: 10px;
        color: #ffffff;
        text-decoration: none;
    }